/*
--------------------------------------------------------------------------
~ Root Styling
--------------------------------------------------------------------------
*/

body {
  font-family: $sans-serif;
  color: $brand-color;
  @extend %font-smoothing;  // Webkit font smoothing (optionl)
}

img, object, embed { margin: 0; max-width: 100%; height: auto; }
object, embed { height: 100%; }
img { vertical-align: middle; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Text Selection Highlight Color
::selection { background-color: $brand_color; color: $white; text-shadow: none; }
::-moz-selection { background-color: $brand_color; color: $white; text-shadow: none; }


.page-container {
  overflow: auto;
  position: relative;
  width: 100%;
  padding: 0 2%;
  margin: 0;
}

.contain {
  @include outer-container;
  position: relative;
  width: 95%;
  padding: 0;
}
