
// Github Pages Demo Styles

.page-container {
  padding: 10em 0;
  text-align: center;
}

h1 {
  color: $brand-color;
  @include font-size(92);
  line-height: 1.2;
  letter-spacing: -.04em;
  margin: .2em 0;
  font-weight: 900;
}

h2 {
  color: $grey;
  display: block;
  margin-bottom: 2em;
}
