
//  Layout

.page-container {
  overflow: auto;
  position: relative;
  width: 100%;
  padding: 0 2%;
  margin: 0;
}

.contain {
  @include outer-container;
  position: relative;
  width: 95%;
  padding: 0;
}
